/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  list-style: none;
}

address {
  font-style: normal;
}

/* Form */
input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Nunito", Arial, sans-serif;
  src: url("./../../fonts/Nunito-Regular.woff2"), url("./../../fonts/Nunito-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito", Arial, sans-serif;
  src: url("./../../fonts/Nunito-Bold.woff2"), url("./../../fonts/Nunito-Bold.woff");
  font-weight: 700;
}
.header__nav {
  display: none;
}

.header__burger .active .header__nav {
  display: flex;
}

.header__nav__item a {
  color: #000;
}

.header__theme {
  width: 26px;
  height: 26px;
  color: currentColor;
  fill: currentColor;
}

.header__lang {
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 4px;
}

.header__burger {
  display: inline-block;
  width: 30px;
  height: 20px;
  color: currentColor;
}

span {
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  border-radius: 50px;
  height: 2px;
  color: currentColor;
}

.header__burger span::before {
  content: "";
  border-radius: 50px;
  position: relative;
  top: -11px;
  left: -1.5px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
}

.header__burger span::after {
  content: "";
  border-radius: 50px;
  position: relative;
  top: 4px;
  left: -1.5px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
}

.header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: #FFFFFF;
  width: 100%;
  z-index: 10;
  color: #000;
  border-bottom: 1px solid #AAAAAA;
}

.header.dark {
  background-color: #484848;
  color: #FFFFFF;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  color: currentColor;
}

.header__logo {
  width: 77px;
  height: 30px;
  color: currentColor;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: currentColor;
}

.header__lang.dark {
  background-color: inherit;
  color: inherit;
}

.download {
  padding: 80px 15px 30px;
}

.download__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 40.92px;
}

.download__text {
  font-size: 14px;
  line-height: 21px;
}

.download__image {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #AAA;
  border-radius: 20px;
}

.download__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0 20px;
}

.warranty {
  padding: 30px 15px;
}

.warranty__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 40.92px;
}

.warranty__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.warranty__image {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #AAA;
  border-radius: 20px;
  margin-top: 20px;
}

.care {
  padding: 30px 15px;
}

.care__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 40.92px;
}

.care__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.care__image {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #AAA;
  border-radius: 20px;
  margin-top: 20px;
}

.footer {
  background: #484848;
}

.footer-icon svg {
  width: 130px;
  height: 126px;
}

body {
  font-family: "Nunito", Arial, sans-serif;
  transition: 250ms;
}

#root.dark {
  background-color: #484848;
  transition: 250ms;
  color: #ffffff;
}

.header__logo svg {
  width: 77px;
  height: 30px;
}

.warranty__image {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #AAA;
  border-radius: 20px;
}

.care__image {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #AAA;
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */