@import './utils/res';
@import './utils/mixins';
@import './utils/fonts';

@import './layouts/features/Navigation.module';
@import './layouts/features/Theme.module';
@import './layouts/features/Lang.module';
@import './layouts/features/Burger.module';

@import './layouts/widgets/Header.module';
@import './layouts//widgets/SectionPrimary.module';
@import './layouts/widgets/SectionSecondary.module';
@import './layouts/widgets/SectionTernary.module';
@import './layouts/widgets/Footer.module';

@import './layouts//features/modal';

body {
  font-family:'Nunito', Arial, sans-serif;
  transition: 250ms;
}

#root.dark {
  background-color: #484848;
  transition: 250ms;
  color: #ffffff;
}

.header__logo svg{
  width: 77px;
  height: 30px;
}


.warranty__image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #AAA;
    border-radius: 20px;
}

.care__image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #AAA;
    border-radius: 20px;
}


