.header__burger {
  display: inline-block;
  width: 30px;
  height: 20px; 
  color: currentColor;
}

span {
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  border-radius:50px;
  height: 2px;
  color: currentColor;
}

.header__burger span::before {
  content: '';
  border-radius:50px;
  position: relative;
  top: -11px;
  left: -1.5px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
}

.header__burger span::after {
  content: '';
  border-radius:50px;
  position: relative;
  top: 4px;
  left: -1.5px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
}

