@font-face {
  font-family:'Nunito', Arial, sans-serif;
  src: url('./../../fonts/Nunito-Regular.woff2'), url('./../../fonts/Nunito-Regular.woff');
  font-weight: 400;
}
@font-face {
  font-family:'Nunito', Arial, sans-serif;
  src: url('./../../fonts/Nunito-Bold.woff2'), url('./../../fonts/Nunito-Bold.woff');
  font-weight: 700;
}