.burger {

}

.burger__item {
  top: 15px;
  position: relative;
  display: block;
  content: '';
  width: 30px;
  background-color: #000000;
  height: 2px;
}

.burger__item::before {
  position: absolute;
  content: '';
  width: 30px;
  background-color: green;
  height: 2px;
  top: 10px;
  .burger__item:active & {
    transform: rotate(45deg);
  }
}

.burger__item::after {
  position: absolute;
  content: '';
  width: 30px;
  background-color: green;
  height: 2px;
  bottom: 10px;
}


