@import './utils/res';
@import './utils/mixins';
@import './utils/fonts';

body {
  font-family:'Nunito', Arial, sans-serif;
}

.dark-theme #logo {
  background-color: black;
}

.light-theme #logo {
  background-color: white;
}

.light {
  background-color: #FFFFFF;
  color: #000000;
  & .header__logo svg  {
    fill: #000000;
  }
}

.dark {
  background-color: #484848;
  color: #FFFFFF;
  fill: #FFFFFF;
  & .header__logo svg { 
    fill: #FFFFFF;
  }
}

// =========== header ==========
@import '../../js/components/widgets/Header/Header.module.scss';
// =========== Navigation ==========
@import '../../js/components/features/Navigation/Navigation.module';
// =========== Theme ==========
@import '../../js/components/features/Theme/Theme.module.scss';
// =========== Lang ==========
@import '../../js/components/Lang/Lang.module.scss';
// =========== burger ==========
@import '../../js/components/features/Burger/Burger.module.scss';

