@import './utils/res';
@import './utils/mixins';
@import './utils/fonts';

body {
  font-family:'Nunito', Arial, sans-serif;
  transition: 250ms;
}

#root.dark {
  background-color: #484848;
  transition: 250ms;
}

.header__logo svg{
  width: 77px;
  height: 30px;
}

//====== SectionPrimary =========
@import '../../js/components/widgets/SectionPrimary/SectionPrimary.module.scss';

// =========== header ==========
@import '../../js/components/widgets/Header/Header.module.scss';
// =========== Navigation ==========
@import '../../js/components/features/Navigation/Navigation.module';
// =========== Theme ==========
@import '../../js/components/features/Theme/Theme.module.scss';
// =========== Lang ==========
@import '../../js/components/Lang/Lang.module.scss';
// =========== burger ==========
@import '../../js/components/features/Burger/Burger.module.scss';

// =========== SectipoPrimary ==========
@import '../../js/components/widgets/SectionPrimary/SectipoPrimary.module.scss';

.warranty__image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #AAA;
    border-radius: 20px;
}

.care__image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #AAA;
    border-radius: 20px;
}

