@import './utils/res';
@import './utils/mixins';
@import './utils/fonts';

@import './components/Navigation.module';
@import './components/Theme.module';
@import './components/Lang.module';
@import './components/Burger.module';

@import './components/Header.module';
@import './components/SectionPrimary.module';

body {
  font-family:'Nunito', Arial, sans-serif;
  transition: 250ms;
}

#root.dark {
  background-color: #484848;
  transition: 250ms;
}

.header__logo svg{
  width: 77px;
  height: 30px;
}


.warranty__image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #AAA;
    border-radius: 20px;
}

.care__image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #AAA;
    border-radius: 20px;
}

