.header {
  padding: 10px 15px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 77px;
  height: 30px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


  