.download {
  padding: 29px 15px;
}

.download__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 40.92px;
}

.download__text {
  font-size: 14px;
  line-height: 21px;
}

.download__image {
  width: 290px;
  border: 2px solid black;
}