.footer {
  padding:30px 15px;
  background: $darkModeColor;

}

.footer-icon svg{
  width: 130px;
  height: 126px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 30px;
}

.footer__text, 
.footer__column-title,
.footer__column-item a{
  color: $whiteColor;
}

.footer__column-title {
  margin-bottom: 20px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__column {
  font-size: 14px;
}

// .footer__inner:nth-child(5).footer__column-item a {
//   background: url('../../../assets/img/In.svg');
// }

.footer__logo {
  margin-bottom: 10px;
}

.footer__text {
  margin-bottom: 10px;
}

.linked-in svg {
  width: 40px;
  height: 40px;
}