.header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: #FFFFFF;
  width: 100%;
  color: #000;
  border-bottom: 1px solid #AAAAAA;
  box-shadow: 1px 2px 5px 0px rgba(16,14,14,0.44);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(16,14,14,0.44);
    -moz-box-shadow: 1px 2px 5px 0px rgba(16,14,14,0.44);
  z-index: 15;
}



.header.dark {
  background-color: #484848;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.44);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.44);
    -moz-box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.44);
  z-index: 10;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: currentColor;
}

.header__logo {
  width: 77px;
  height: 30px;
  color: currentColor;
  z-index: 16;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: currentColor;
}

.header__lang.dark {
  background-color: inherit;
  color: inherit;
}
