.care {
  padding: 30px 15px;
}

.care__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 40.92px;
}

.care__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.care__image {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #AAA;
  border-radius: 20px;
  margin-top: 20px;
}
