.header__burger {
  display: inline-block;
  width: 30px;
  height: 20px; 
  color: currentColor;
  z-index: 20;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.header__burger-span:nth-child(2) {
  display: block;
  position: relative;
  width: 30px;
  border: 2px solid currentColor;
  border-radius:50px;
  height: 2px;
  color: currentColor;
  z-index: 15;
}

.active .header__burger-span:nth-child(2) {
  transform: scale(0);
}

.header__burger-span:nth-child(1){
  position: relative;
  border-radius:50px;
  top: -8px;
  left: 0px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
  z-index: 15;
}

.active .header__burger-span:nth-child(1) {
  transform: rotate(45deg);
  top: 3px;
}

.header__burger-span:nth-child(3){
  display: block;
  position: relative;
  top: 8px;
  left: 0;
  width: 30px;
  height: 2px;
  border: 2px solid currentColor;
  border-radius:50px;
  color: currentColor;
  z-index: 15;
}

.active .header__burger-span:nth-child(3){
  transform: rotate(-45deg);
  top: -3px;
}