.header__burger-span {
  display: inline-block;
  width: 30px;
  height: 20px; 
  color: currentColor;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger-span {
  display: block;
  position: relative;
  width: 30px;
  border: 2px solid currentColor;
  border-radius:50px;
  height: 2px;
  color: currentColor;
  z-index: 15;
}

.active .header__burger-span  {
  transform: scale(0);
}

.header__burger-span::before {
  content: '';
  border-radius:50px;
  position: relative;
  top: -11px;
  left: -1.5px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
  z-index: 15;
}

.active .header__burger-span::before {
  transform: rotate(45deg);
  top: -2px;
}

.header__burger-span::after {
  content: '';
  border-radius:50px;
  position: relative;
  top: 4px;
  left: -1.5px;
  display: block;
  width: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  height: 2px;
  z-index: 15;
}

.active .header__burger-span::after {
  transform: rotate(-45deg);
  top: -5px;
}