.order {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  // pointer-events: none;
}

.closeBtn {
  display: block;
  position: relative;
  top: -60px;
  // left: 350px;
  margin-left: auto;
}

.closeBtn-span:nth-child(1) {
  display: block;
  position: relative;
  top: 1px;
  width: 30px;
  border: 2px solid currentColor;
  border-radius:50px;
  height: 2px;
  color: #fff;
  z-index: 15;
  transform: rotate(45deg);
}

.closeBtn-span:nth-child(2) {
  display: block;
  position: relative;
  top: -2px;
  width: 30px;
  border: 2px solid currentColor;
  border-radius:50px;
  height: 2px;
  color: #fff;
    z-index: 15;
  transform: rotate(-45deg);
}

.modal {
  padding: 27px 20px 35px;
  width: 100%;
  max-width: 400px;
  background-color: #fff !important;
  border-radius: 10px;
}

.modal__title {
  font-size: 18px;
  line-height: 24.55px;
  margin-bottom: 20px; 
  color: #000 !important;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal__input {
  border-bottom: 1px solid #AAAAAA;
}

.modal__inner {
  display: flex;
  gap: 5px;
}

.checkbox__text {
  font-size: 14px;
  border-bottom: 1px solid #000;
  color: #000;
}

.modal__link {
  font-size: 14px;
  line-height: 14px;
  color: $blackColor;
  border-bottom: 1px solid $blackColor;
}

.modal__button {
  width: 100%;
  padding: 12px 0;
  border: 1px solid #222222;
  border-radius: 30px;
  font-size: 16px;
  line-height: 16px;
}